<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to String Reverser!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>Welcome to String Reverser!</h1>

    <!--   Use ERB tags to bring in an instance variable containing the reversed string -->

  </body>
</html>
